.circle-pack-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  overflow-x: auto;
}

svg {
  width: 100%;
  height: auto;
  max-width: 900px;
  max-height: 700px;
}

mat-sidenav {
  width: 340px;
}
